<div class="depot_form">

<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <%= render partial: 'shared/form_errors', locals: {model_object: user}%>
  <% end %>

  <fieldset>
  <legend>Enter User Details</legend>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, size: 40 %>
  </div>

<!-- *** migration exercise no 6 ***  -->
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, size: 40 %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, size: 40 %>
  </div>

  <%= f.fields_for :address do |address_form| %>
    <div class="field">
      <%= address_form.label :state %>
      <%= address_form.text_field :state %>
    </div>
    <div class="field">
      <%= address_form.label :city %>
      <%= address_form.text_field :city %>
    </div>
    <div class="field">
      <%= address_form.label :country %>
      <%= address_form.text_field :country %>
    </div>
    <div class="field">
      <%= address_form.label :pincode %>
      <%= address_form.text_field :pincode %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :language %>
    <%= f.select :language, User.languages.keys, prompt: 'Choose language' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

  </fieldset>
<% end %>
</div>
