<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <%= render partial: 'shared/form_errors', locals: {model_object: category }%>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :category_name %>
  </div>

  <div class="field">
    <%= form.label :parent_category_id %>
    <%= form.select :parent_category_id, options_for_select(Category.all.collect { | category | [ category.name, category.id ] }, @category.parent_category_id), include_blank: 'choose category' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
