<%= form_for(product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %>
        </li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :product_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :product_description %>
  </div>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.text_field :image_url, id: :product_image_url %>
  </div>

  <%= form.fields_for :images do |image_form| %>
    <div class="field">
      <%= image_form.label :uploaded_image, 'Picture' %>
      <%= image_tag(image_form.object.get_relative_image_path, class: "thumbnail_img") if image_form.object.persisted?%>
      <%= image_form.file_field :uploaded_image %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :product_price %>
  </div>

<!-- migration exercise no 5 -->
  <div class="field">
    <%= form.label :enabled %>
    <%= form.check_box :enabled, id: :product_enabled %>
  </div>

  <div class="field">
    <%= form.label :discount_price %>
    <%= form.text_field :discount_price, id: :product_discount_price %>
  </div>

  <div class="field">
    <%= form.label :permalink %>
    <%= form.text_field :permalink, id: :product_permalink %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.select :category_id, options_for_select(Category.all.collect { | category | [category.name, category.id] }, @product.category_id), id: :category_id, include_blank: 'Select one' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
