<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <% if @product.images.present? %>
  <div data-id="slideshow">
    <% @product.images.each do |image| %>
      <div class="slider_image"><%= image_tag(image.url.match(REGEX_FOR_PRODUCT_IMAGE)[0]) %></div>
    <% end %>
  </div>
  <% else %>
      <%= image_tag(@product.image_url, class: 'list_image') %>
  <% end %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
