<%= form_with(model: line_item, local: true) do |form| %>
  <% if line_item.errors.any? %>
    <%= render partial: 'shared/form_errors', locals: {model_object: line_item }%>
  <% end %>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.text_field :product_id, id: :line_item_product_id %>
  </div>

  <div class="field">
    <%= form.label :cart_id %>
    <%= form.text_field :cart_id, id: :line_item_cart_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
